IA & Data science (LU3IN0226) -- 2024-2025
--------
*&copy; Equipe pédagogique: Christophe Marsala, Olivier Schwander, Jean-Noël Vittaut.*

# Mini-projet final

<font size="+1" color="RED">**[Q]**</font> **Indiquer dans la boîte ci-dessous vos noms et prénoms :**

FABRICI-LOURENCO Tifenn  
DELAYE-MAILLOT Kyllian

Ce projet peut être fait en binôme (et c'est fortement conseillé) ou tout seul.

Le nom de chaque membre du binôme doit être indiqué, et <u>**un seul rendu sur un des deux comptes Moodle doit être fait**</u>.

Les groupes de plus de 2 personnes ne sont pas autorisés.

**La dernière séance de TD-TME11 de votre groupe sera réservée pour travailler sur ce mini-projet.**

<font color="RED" size="+1"><b>[Q]</b></font> **Renommer ce fichier ipython**

**Nom à donner au fichier à poster** : *projet-Nom1_Nom2.ipynb* 
- *Nom1* et *Nom2* : noms des membres du binôme
- ne pas compresser ou faire une archive: il faut rendre le fichier ipython tel quel, éventuellement, si vous avez d'autres fichiers vous les rendez séparément.

**Le compte-rendu est soumis sur la page Moodle.**

# Projet 2 - avril-mai 2025


<font size="+1" color="RED"><b>Date de rendu : au plus tard le lundi 19 mai 2025, avant 11h</b></font>
    
<b>Attention! le site Moodle ferme à 11h pile !</b> prévoyez de vous y connecter au moins 15mn avant la fermeture...
<b>Il n'y aura pas de prolongation possible.</b>

Vous devez compléter ce notebook en rajoutant vos expérimentations avec vos algorithmes d'apprentissage sur les données fournies dans le répertoire `data`.

## Travail à faire

Appliquer les algorithmes d'apprentissage vus en cours sur les données comme décrit ci-dessous afin de mettre en évidence des résultats intéressants.


## Compte-rendu demandé
Ce qui doit être remis avant la date limite : un fichier archive (`.tar`, `.tgz`, ou `.zip` uniquement) contenant:
- ce **notebook** complété. Il doit pouvoir être exécuté sans autre apport (pensez à vous en assurer avant de le rendre). 
- votre **librairie iads** sous la forme d'une archive avec votre répertoire `iads/` contenant tous les fichiers nécessaires 
- un **poster** sous la forme d'un fichier PDF dont le nom est de la forme: *tme11-Nom1_Nom2.pdf* qui correspond à un poster décrivant l'ensemble des expérimentations menées et les résultats obtenus.


<b>IMPORTANT</b>: 
- Les <u>fichiers de données ne doivent pas être inclus dans votre archive</u> ! 
- Pensez à vérifier que votre archive contient bien tous les fichiers demandés et **seulement** les fichiers demandés.
- **Tous les fichiers demandés doivent être soumis avant la date limite*, le jour de la soutenance, vous pourrez fournir des versions (légèrement) modifiées.

## Soutenance des projets
La soutenance aura lieu le <font size="+1" color="RED">**mardi 20 mai 2025**</font>, à partir de 9h. Un ordre de passage ainsi que la salle de TME où aura lieu les soutenances seront affichées sur le Moodle la veille (la remise d'un compte-rendu avant lundi 19 mai 11h est obligatoire pour être autorisé à passer une soutenance).

La <b>soutenance est obligatoire</b> : tout projet pour lequel une soutenance n'a pas eu lieu sera noté $0$.

Modalités de la soutenance:
- durée de la soutenance : 10 mn pour un binôme, 7 mn pour un monôme ;
- elle a lieu devant un ordinateur avec le notebook et le poster comme support ;
    - elle commence par une rapide présentation des expérimentations réalisées et résultats obtenus (max. 4 à 5mns)
    - puis elle se poursuit par des questions posées individuellement aux membres du binômes sur les expériences ou le code python réalisé.
- la note de soutenance est individuelle pour chaque membre d'un binôme.


**Très important** : les fichiers de données doivent être placés de façon à respecter la structure de fichiers suivante :

          --iads/
              -- Classifiers.py
              -- etc.
          -- MiniProjet/
              -- ce_notebook.ipynb

Les données seront chargées par les commandes de chargement des données fournies dans ce notebook (ci-dessous).

Dans le notebook que vous rendrez, le chargement des fichiers de données doit considérer cette arborescence.

In [40]:
import string

# Importation de librairies standards:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  

# un nouvel import utile pour la 3D:
from matplotlib import cm

# Les instructions suivantes sont TRES utiles pour recharger automatiquement 
# le code modifié dans les librairies externes
%load_ext autoreload
%autoreload 2

# Pour mesurer le temps
import time

# Importation de votre librairie iads:
# La ligne suivante permet de préciser le chemin d'accès à la librairie iads
import sys
sys.path.append('../')   # iads doit être dans le répertoire père du répertoire courant !

# Importation de la librairie iads
import iads as iads

# importation de Classifiers
from iads import Classifiers as classif

# importation de utils
from iads import utils as ut

# importation de evaluation
from iads import evaluation as ev

# importation de Clustering
from iads import Clustering as clust

# commande TRES utile pour recharger automatiquement le code que vous modifiez dans les modules
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Données pour le projet : 20newsgroups

Les données sont fournies dans le fichier CSV `20newsgroups.csv` contenu dans l'archive. Une documentation sur ces données peut être consultée sur la <a href="http://qwone.com/~jason/20Newsgroups/" target="NEW">page ScikitLearn</a>.
Ces données sont des dépêches issues de 20 groupes de discussions.

### Chargement des données

In [41]:
newsgroups_df = pd.read_csv("data/20newsgroups.csv")
print(len(newsgroups_df))
newsgroups_df

18846

                                                messages  target
0      \n\nI am sure some bashers of Pens fans are pr...      10
1      My brother is in the market for a high-perform...       3
2      \n\n\n\n\tFinally you said what you dream abou...      17
3      \nThink!\n\nIt's the SCSI card doing the DMA t...       3
4      1)    I have an old Jasmine drive which I cann...       4
...                                                  ...     ...
18841  DN> From: nyeda@cnsvax.uwec.edu (David Nye)\nD...      13
18842  \nNot in isolated ground recepticles (usually ...      12
18843  I just installed a DX2-66 CPU in a clone mothe...       3
18844  \nWouldn't this require a hyper-sphere.  In 3-...       1
18845  After a tip from Gary Crum (crum@fcom.cc.utah....       7

[18846 rows x 2 columns]

### Prétraitement

Dans un premier temps, vous devez appliquer les étapes de prétraitements vues dans le TME 6. Pour le nettoyage, la liste des mots inutiles (stopwords) est fournie dans le fichier `stopwords.csv` de l'archive

In [42]:
stop_words_df = pd.read_csv("data/stopwords.csv")
stop_words_df

       stopword
0             a
1         about
2         above
3         after
4         again
..          ...
193      you're
194       yours
195    yourself
196  yourselves
197      you've

[198 rows x 1 columns]

## Tâches à réaliser

### Apprentissage supervisé

*Tâches*: évaluation d'algorithmes et de représentations des données.
- classification binaire
- classification multi-classe

*Etudes suggérées*:
- représentations des données
    - avec ou sans suppression des stopwords
    - différentes représentations: bag-of-words binaire, avec comptage, avec fréquences, avec tfidf
- différents classifiers:
    - perceptron,
    - k-plus proches voisins avec distance euclidienne,
    - k-plus proches voisins avec distance cosinus (cf. TD),
    - Naives Bayes,
    - arbres de décision
- analyse des résultats:
    - accuracy, temps d'exécutions
    - score fold par fold
    - matrice de confusion

### Apprentissage non-supervisé

*Tâche*: vérifier que le découpage a du sens par rapport aux groupes fournis. 

*Etudes suggérées*:
- étudier l'application d'un clustering hiérarchique et son résultat;
- étudier les résultats de l'application de l'algorithme des k-moyennes, pour différentes valeurs de k;
- proposer des évaluations des clusters trouvés afin de mettre en évidence les plus intéressants:
    - en utilisant les indices d'évaluation présentés en cours;
    - en comparant par diverses méthodes les clusters trouvés avec les vrais labels des classes (targets y).
- proposer une visualisation des résultats obtenus

## Poster à rendre dans le compte-rendu (format PDF)

Votre poster doit décrire de façon synthétique **l'ensemble des expérimentations** menées sur les données, les résultats obtenus en apprentissage supervisé et en apprentissage non-supervisé ainsi que les conclusions/bilans que vous tirez de ces expérimentations (ie. ce que vous avez appris sur ces données).

*Remarque*: vous devez indiquer vos noms/prénoms et groupe (1, 2, ou 3) sur le poster.

# Mini-Projet

## Pré-traitement des données

On commence par enlever les exemples avec message manquant.
Puis on met la version nettoyée de chaque message dans une nouvelle colonne *mots*

In [43]:
data = newsgroups_df.dropna().copy()
data = data[data["target"].isin([3, 10, 15])]
data["mots"] = data["messages"].map(lambda msg : ut.text2vect(msg, stop_words_df["stopword"].values))
len(data)
data

,messages,target,mots
0,\n\nI am sure some bashers of Pens fans are pr...,10,"[sure, bashers, pens, fans, pretty, confused, ..."
1,My brother is in the market for a high-perform...,3,"[brother, market, high, performance, video, ca..."
3,\nThink!\n\nIt's the SCSI card doing the DMA t...,3,"[think, scsi, card, dma, transfers, disks, scs..."
7,"\n[stuff deleted]\n\nOk, here's the solution t...",10,"[stuff, deleted, ok, here's, solution, problem..."
8,"\n\n\nYeah, it's the second one. And I believ...",10,"[yeah, second, one, believe, price, trying, ge..."
...,...,...,...
18831,"Hello,\n\n I am having a small problem with...",3,"[hello, small, problem, sound, blaster, pro, g..."
18832,\nI am asking you to believe in things not vis...,15,"[asking, believe, things, visible, know, belie..."
18837,\nAnd won't they have to change their name to ...,10,"[change, name, steelers, something, significan..."
18839,\n[bible verses ag./ used ag. homosexuality de...,15,"[bible, verses, ag, used, ag, homosexuality, d..."
18843,I just installed a DX2-66 CPU in a clone mothe...,3,"[installed, dx2, 66, cpu, clone, motherboard, ..."

Puis on va prendre un échantillon d'environ 5000 exemples car 20000 c'est beaucoup trop grand pour nos machines.

In [44]:
sampled_data = ut.sample_dataset(data, "target", 2000, seed=42)
print(len(sampled_data))
sampled_data

1998

,messages,target,mots
15464,Here are some notes about what the church is t...,15,"[notes, church, like, helpful, ideas, choose, ..."
6782,"\nPierre Turgeon of NYI, and Paul Coffey of De...",10,"[pierre, turgeon, nyi, paul, coffey, detorit, ..."
14549,"Andrew,\nYou can get the heat sinks at Digi-Ke...",3,"[andrew, get, heat, sinks, digi, key, 1, 800, ..."
11780,"\n\nThe USA Today says ""late this year"". The ...",10,"[usa, today, says, late, year, question, hocke..."
6613,"\n\nMaine 5, LSSU 4.\n\n",10,"[maine, 5, lssu, 4]"
...,...,...,...
16513,\nHe appears to have believed that. He had a ...,15,"[appears, believed, view, condemned, conciliar..."
7302,\nI bet it suddenly started sticking when you ...,3,"[bet, suddenly, started, sticking, started, le..."
4323,"\n\n\nYes, I suppose that's true. Of course, ...",15,"[yes, suppose, that's, true, course, notice, q..."
12242,\nMaybe you should dig a little further Charle...,15,"[maybe, dig, little, charles, hislop's, schola..."
18631,": \n: In the NT, the clear references are all ...",15,"[nt, clear, references, paul's, letters, rom, ..."

Nous stockons les labels (target) dans une variable dédiée.

In [45]:
labels = sampled_data['target'].unique()

Nous allons maintenant séparer les données en deux parties : une partie d'apprentissage et une partie de test.

In [46]:
np.random.seed(42)

# pourcentage d'exemples de chaque classe à garder:
taux = 0.2    # ici on prend 5% 

# déclaration des variables qui seront initialisées dans la boucle:
df_train = None  
df_test = None
for l in labels:
    nb_total = sampled_data['target'].value_counts()[l]
    nb_pris = int(nb_total*taux) 
    print(f"Nombre d'exemples du label {l} pris pour apprendre: {nb_pris}")

    les_ids = sampled_data[sampled_data['target']==l].index.to_list()
    np.random.shuffle(les_ids)

    les_ids_train = les_ids[:nb_pris]
    les_ids_test = les_ids[nb_pris:]

    if df_train is None:
        df_train = sampled_data.loc[les_ids_train]
        df_test = sampled_data.loc[les_ids_test]
    else:
        df_train = pd.concat([df_train, sampled_data.loc[les_ids_train]])
        df_test = pd.concat([df_test, sampled_data.loc[les_ids_test]])
    
# Résultat:
print(f"Dimension de df_train:\t{df_train.shape}")
print(f"Dimension de df_test:\t{df_test.shape}")

Nombre d'exemples du label 15 pris pour apprendre: 133
Nombre d'exemples du label 10 pris pour apprendre: 133
Nombre d'exemples du label 3 pris pour apprendre: 132
Dimension de df_train:	(398, 3)
Dimension de df_test:	(1600, 3)

À partir d'ici, nous allons travailler sur les données d'apprentissage.

In [47]:
# Création de l'index des mots
index_mots = []

for lst in df_train["mots"]:
    for m in lst:
        if not m in index_mots:
            index_mots.append(m)

index_mots.sort()

On dispose maintenant d'un échantillon propre pour travailler dessus

In [48]:
# Apprentissage avec le classifieur des arbres numériques
classifier = classif.ClassifierArbreNumerique(
    input_dimension=len(index_mots),
    epsilon=0.01,
    LNoms=index_mots,
)

# Ensure that the df2array function processes the data correctly
mat_train = ut.df2array(df_train, "mots", index_mots)

# Apprentissage du classifieur
classifier.train(mat_train, df_train["target"].to_numpy())

# Affichage d'un message pour confirmer que l'apprentissage est terminé
print("Apprentissage terminé avec le classifieur des arbres numériques.")

Apprentissage terminé avec le classifieur des arbres numériques.

In [49]:
# Nous allons utiliser df_test pour tester le classifieur
# On va d'abord le transformer en matrice
mat_test = ut.df2array(df_test, "mots", index_mots)

# On va ensuite tester l'accuracy du classifieur
accuracy_train = classifier.accuracy(mat_train, df_train["target"].to_numpy())
accuracy_test = classifier.accuracy(mat_test, df_test["target"].to_numpy())

print(f"Accuracy sur l'ensemble d'apprentissage:\t{accuracy_train}")
print(f"Accuracy sur l'ensemble de test:\t{accuracy_test}")

Accuracy sur l'ensemble d'apprentissage:	0.9949748743718593
Accuracy sur l'ensemble de test:	0.781875